@model IEnumerable<UGE4.DbInfrastructure.Chapter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalArticles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article.ArticleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalArticles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Article.ArticleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChapterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChapterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChapterID })
        </td>
    </tr>
}

</table>
