@model UGE4.Models.LinksToDisplay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LinksToDisplay</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Article.ArticleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Article.ArticleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chapter.TopicName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chapter.TopicName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LinksToDisplayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
