@model IEnumerable<UGE4.Models.LinksToDisplay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Article.ArticleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chapter.TopicName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Article.ArticleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chapter.TopicName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LinksToDisplayID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LinksToDisplayID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LinksToDisplayID })
        </td>
    </tr>
}

</table>
