@model UGE4.DbInfrastructure.Book

@{
    ViewBag.Title = "Create";
}

<h2>Creating Book</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Book</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectID, "Subject")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SubjectID", String.Empty)
            @Html.ValidationMessageFor(model => model.SubjectID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BookName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BookName)
            @Html.ValidationMessageFor(model => model.BookName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
