@model UGE4.Models.Question

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Question</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hint)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hint)
            @Html.ValidationMessageFor(model => model.Hint)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnswerChoiceID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnswerChoiceID)
            @Html.ValidationMessageFor(model => model.AnswerChoiceID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionDisplay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionDisplay)
            @Html.ValidationMessageFor(model => model.QuestionDisplay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MCQID, "MCQ")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MCQID", String.Empty)
            @Html.ValidationMessageFor(model => model.MCQID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
