@model UGE4.DbInfrastructure.Question

@{
    ViewBag.Title = "Question - Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hint)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hint)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnswerChoiceID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerChoiceID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionDisplay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionDisplay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MCQ.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MCQ.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
