@model UGE4.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Article</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreviousArticleID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreviousArticleID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NextArticleID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NextArticleID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChapterID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChapterID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VideoLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VideoLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Height)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Width)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Width)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AvgRating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AvgRating)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ArticleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
