@model UGE4.DbInfrastructure.Article

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Article</legend>

        @Html.HiddenFor(model => model.ArticleID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ArticleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArticleName)
            @Html.ValidationMessageFor(model => model.ArticleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreviousArticleID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreviousArticleID)
            @Html.ValidationMessageFor(model => model.PreviousArticleID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NextArticleID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NextArticleID)
            @Html.ValidationMessageFor(model => model.NextArticleID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChapterID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChapterID)
            @Html.ValidationMessageFor(model => model.ChapterID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VideoLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VideoLink)
            @Html.ValidationMessageFor(model => model.VideoLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Height)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Height)
            @Html.ValidationMessageFor(model => model.Height)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Width)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Width)
            @Html.ValidationMessageFor(model => model.Width)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AvgRating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AvgRating)
            @Html.ValidationMessageFor(model => model.AvgRating)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
