@model IEnumerable<UGE4.DbInfrastructure.Article>

@{
    ViewBag.Title = "Article";
}

<h2>Article</h2>

<p>
    @Html.ActionLink("Create Article", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousArticleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextArticleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chapter.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousArticleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextArticleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chapter.TopicName)
        </td>
        <td>
             @Html.Raw(item.VideoLink.Replace("height=\"315\"", "height=\"100\"").Replace("width=\"420\"", "width=\"200\""))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvgRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticleID }, new {  onclick="return confirm('Are you sure you want to delete this(can't be retrive again)?')" })
        </td>
    </tr>
}

</table>
